@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #5B4B42;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}

h4{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */


/* image grid styles */
.Character-grid{
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.items-center{
    margin-left: auto;
    margin-right: auto;  
}
.vertical-center {
    margin: 0;
    
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
.character-wrap{
  overflow: hidden;
  
  height: 0;
  padding: 16% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.character-wrap img{
  min-width: 50%;
  min-height: 50%;
  max-width: 60%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}.site-footer
{
  background-color:#5B4B42;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff8f8;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#fff8f8;
}
.site-footer a:hover
{
  color:#fff8f8;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#fff8f8
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#ebbdbd;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.swing {
  animation: swing ease-in-out 2s infinite alternate;
  transform-origin: center -20px;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  margin-right: 1.8em;
  margin-top: 3em;
  margin-left: 2.8em;
}

.swing::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  top: -10px;
  left: 50%;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

.swing::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  border-radius: 50% 50%;
  background: #000;
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
}

.card {
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}

.card:hover .card-front {
  transform: rotateX(-180deg);
  opacity: 0;
}

.card:hover .card-back {
  transform: rotateX(0deg);
}

.card-front {
  backface-visibility: hidden;
  transition: 0.5s;
  cursor: pointer;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
  text-align: center;
}

.card-back {
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  position: absolute;
  text-align: center;
}
.card-modal{
  width: 30rem;
  margin-top: 25%;
 
   display: block;
   margin-left: 50%;
   margin-right: auto;
   
}

footer h4 {
  margin-left: 4.5em;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@media screen and (max-width: 1024px) {
    .Character-grid{
       
        display: block;
        
      }
      .card-modal{
        width: 20rem;
        margin-top: 90%;
       
         display: block;
         margin-left: 50%;
         margin-right: auto;
         
      }
      .character {
          margin-top: 25px;
      }
      
  .center {
   
    width: 100%;
  }
  .presentation {
    flex-direction: column;
  }
  .logo {
    margin-left: 6.8em;
  }

  .introduction {
    margin-top: 5vh;
    text-align: right;
  }

  .intro-text h1 {
    font-size: 34px;
    margin-top: 2em;
  }

  .intro-text p {
    text-align: center;
    font-size: 20px;
  }

  .cover img {
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    width: 85%;
  }

  .swing {
    margin-top: 5.5em;
    margin-left: 2.5em;
  }

  .body-text {
    margin-left: 2.5em;
    margin-right: 2em;
    text-align: center;
  }}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }